:root{
    --card-front: #101c2c;
    --card-back: #05c3ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 100px;
    height: 100px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s;
}

.card_back, .card_front{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.45);

    position: absolute;
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}

.card_front{
    background-color: var(--card-front);
    transform: rotateY(180deg);
}

.card_back{
    background-color: var(--card-back);
    color: var(--card-front);
    font-size: 30px;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard{
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 500px){

    #gameBoard{
        max-width: 450px;
        grid-template: 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;

    }

    .card{
        width: 60px;
        height: 60px;
    }
    
    img{
        width: 80%;
        height: 80%;
    }

    #gameOver{        
        font-size: 30px;
        text-align: center;
    }
}